@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

* {
    box-sizing: border-box;
}

html {
    height: 90%;
    width: 99%;
    font-size: 16px;
}

body {
    margin: 0;
    height: 100%;
    font-family: 'Comfortaa', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.3s, color 0.3s;
}

.light-theme {
    --bg-color: white;
    --text-color: black;
}

.dark-theme {
    --bg-color: black;
    --text-color: white;
}

header {
    text-align: center;
}

h1 {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
    font-size: 2.5rem;
    color: #495057;
}

div#change_username, section#input_zone, #emoji_menu {
    border: 1px outset rgb(79, 116, 238);
    margin: 2px;
    padding: 10px;
    display: flex;
    align-items: center;
}

div#change_username {
    background-color: rgb(169, 230, 245);
}

section#chatroom {
    height: 85%;
    overflow-y: auto;
    background-color: var(--bg-color);
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

section#input_zone {
    height: 7%;
    background-color: rgb(76, 119, 238);
}

.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

input#username, input#message {
    font-family: 'Comfortaa', sans-serif;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    width: 100%;
    box-sizing: border-box;
}

input#message {
    flex: 1;
    font-size: 1.6rem;
}

button#send_message {
    background-color: #495057;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}

button#send_message:hover {
    background-color: #3b4b68;
}

.alert {
    padding: 10px;
    margin: 12px;
    background-color: #ffeb3b;
    color: #212121;
    border-radius: 5px;
}

p.message {
    margin: 0;
    padding: 10px;
    background-color: rgb(87, 113, 230);
    color: white;
    border-radius: 5px;
}

#usernameModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 1000;
    display: none;
}

#emoji_menu {
    position: fixed;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1000;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
    gap: 5px;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.emoji {
    cursor: pointer;
    padding: 5px;
    text-align: center;
}

.emoji img {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.emoji:hover {
    background-color: #f0f0f0;
}

#sidebar {
    height: 100vh;
}

#messages {
    background-color: var(--bg-color);
    border-radius: 5px;
    padding: 10px;
}

.container-fluid {
    margin-top: 20px;
}

#chatroom {
    height: 400px;
    overflow-y: auto;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: var(--bg-color);
}

#input_zone {
    display: flex;
    align-items: center;
    padding: 10px;
}

#message {
    flex: 1;
    margin-right: 10px;
}

#send_message {
    margin-left: 10px;
}

#upload_file {
    margin-left: 10px;
}

/* Стили для модального окна */
#nicknameModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000; /* Убедитесь, что окно поверх других элементов */
}

.modal-content {
    text-align: center;
}

button {
    margin: 10px;
}
